<h1>Welcome to References</h1>
<h2>"Where you know who you know"</h2>


<h2><label>Select an option</label> : </h2>
  <%= button_to("Upload Graph File", upload_path()) %><br/>
  <%= button_to('Output Graph File', download_path()) %>